@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,700&display=swap");

:root {
  --primary: #5c469c;
  --light: rgba(133, 198, 218, 255);
  --dark: rgba(13, 13, 10, 255);
  --darker: rgba(234, 157, 90, 255);
  --lighter: #f0edd4;
  --lighter1: #eccdb4;
  --lighter2: #f9fbe7;
  --darken: #dfccfb;
  --search: #810ca8;
  --primary1: #393053;
  --primary2: #643a6b;
}

.logo {
  max-width: 100%;
  height: 40px;
}

a {
  text-decoration: none;
  font-size: 14px;
}

h1 {
  font-size: 40px;
  color: var(--primary);
  font-weight: 500;
}

h2 {
  font-weight: 400;
  font-size: 32px;
  color: var(--primary);
}

h5 {
  font-size: 17px;
  font-weight: 600;
}

p {
  font-size: 14px;
}

span {
  border-radius: 10px;
}

button {
  padding: 12px 10px;
  font-size: 14px;
  background-color: var(--search);
  color: white;
}

.active {
  font-weight: 700;
  color: var(--search);
}

.inactive {
  color: var(--primary1);
  font-weight: 400;
}

/* Header start here */
.header-top-strip {
  background-color: var(--lighter);
}
.header-top-strip a {
  color: var(--primary2);
}

.title-word {
  animation: color-animation 4s linear infinite;
  font-weight: 600;
}

.title-word-1 {
  --color-1: #df8453;
  --color-2: #3d8dae;
  --color-3: #e4a9a8;
}

.title-word-2 {
  --color-1: #dbad4a;
  --color-2: #accfcb;
  --color-3: #17494d;
}

.title-word-3 {
  --color-1: #accfcb;
  --color-2: #e4a9a8;
  --color-3: #accfcb;
}

@keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  32% {
    color: var(--color-1);
  }
  33% {
    color: var(--color-2);
  }
  65% {
    color: var(--color-2);
  }
  66% {
    color: var(--color-3);
  }
  99% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}

.input-group button {
  background: white;
  font-size: 14px;
  color: var(--search);
}

.input-group-text {
  background: white;
}

.header-upper {
  background: var(--lighter2);
}

.nav-links a {
  font-size: 16px;
  text-decoration: none;
}

.nav-links-nav a {
  color: var(--primary2);
}

.header-icon {
  margin: auto;
  font-size: 14;
}
/* .nav-links-nav :hover {
  color: var(--search);
} */
/* Header end here */

/* Footer start here */
footer {
  background-color: var(--lighter2);
}

.social-icons :hover {
  color: var(--search);
}

.pay img {
  border-radius: 20px;
  transition: 0.5s ease;
}

.pay img:hover {
  transform: translateY(-8px);
}

.title {
  color: var(--primary2);
}

.footer-detail a {
  color: var(--primary1);
}

.dev {
  color: var(--search);
}

/* Footer end here */

/* Home Begins */
.banner-details {
  background: url(./assets/images/back.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 80vh;
}

.button-link {
  font-size: 16px;
  padding: 12px 10px;
  border-radius: 10px;
  background: var(--search);
  color: white;
  border: 1px solid var(--primary);
  transition: 0.5s ease;
}

.button-link:hover {
  background: transparent;
  color: var(--primary);
  font-weight: 600;
  border: 1px solid var(--primary);
}

.save-more {
  font-weight: 400;
  color: black;
}

.hero-details img {
  width: 100%;
  height: 80px;
}

.hero-details .card {
  border-radius: 10px;
  border: none;
  background-color: transparent;
}

.p-desc {
  font-weight: 500;
  color: var(--primary);
}

.featured-product .card img {
  border-radius: 20px;
}

.featured-product .card {
  border-radius: 10px;
  max-width: 250px;
}

.card-footer {
  color: black;
  border: none;
}

.card-price {
  color: black;
  font-weight: 600;
  font-size: 16px;
}

.featured-product .card span {
  color: var(--darker);
}

.repair {
  background: url(./assets/images/banner/b2.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 30vh;
}

.diskon {
  color: green;
  background-color: white;
  font-weight: 600;
}

.button-repair {
  padding: 12px 10px;
  font-size: 14px;
  border-radius: 10px;
  font-weight: 600;
  border: 1px solid var(--primary);
  transition: 0.5s ease;
}

.button-repair:hover {
  background: transparent;
  color: white;
  border: 1px solid var(--primary);
}

.new-product .card img {
  border-radius: 20px;
  width: 100%;
  max-height: 200px;
}

.new-product .card {
  border-radius: 10px;
  max-width: 250px;
}

.button-deals {
  padding: 12px 10px;
  font-size: 14px;
  border-radius: 10px;
  font-weight: 600;
  border: 1px solid var(--primary);
  transition: 0.5s ease;
}

.button-deals:hover {
  background: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
}

/* Home ends */
